* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #6a11cb, #2575fc);
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    position: relative;
}

.banner {
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s;
}

input:focus {
    outline: none;
    border-color: #6a11cb;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.2);
}

label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    pointer-events: none;
    transition: 0.3s;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -20px;
    left: 10px;
    font-size: 0.8rem;
    color: #6a11cb;
}

button {
    background-color: #6a11cb;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2575fc;
}

#message {
    margin-top: 20px;
    color: green;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.social-icons a.facebook {
    background-color: #3b5998;
}

.social-icons a.twitter {
    background-color: #00acee;
}

.social-icons a.instagram {
    background-color: #e4405f;
}

.social-icons a:hover {
    opacity: 0.8;
    }
